* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: aliceblue;
  background: url('./assets/background.jpg') no-repeat center center/cover;
}

button {
  cursor: pointer;
  border: 0;
  padding: 15px 30px;
  border-radius: 5px;
  margin: 5px 0px;
}

p {
  margin: 10px 0px;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  border-radius: 8px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
